<% flash.each do |key, value|%>
  <div class="<%=key%>"><%=value %></div>
<% end %>
<h1><%=@need.title%></h1>
<p><%= @need.description %></p>
<h2>Tags</h2>
<p><%=@need.tag_list%></p>
<p><%=@need.responses.count %> user(s) has responded to this need.</p>

<%= render :partial => "messages/form", :locals => {:message => @message} %>
