<h1>Gots</h1>
<p>Describe your got</p>
<%= form_for(@got) do |f| %>
  <label for="got_title">Title</label><br/>
  <%= f.text_field :title %><br/>
  <label for="got_description">Description</label><br/>
  <%= f.text_area :description %><br/>
  <label for="got_tag_list">Tags</label><br/>
  <%= f.text_field :tag_list %><br/>
  <%= submit_tag("Save") %>
<% end %>
